html, body {
	height: 100%
}

body {
	background-image: url("/img/p6.png");
	background-repeat: repeat;
    background-attachment: fixed;
	height: 100%;
}

.wrap {
  min-height: 100%;
  margin-bottom: -61px;
}
.wrap:after {
  content: "";
  display: block;
}
.footer, .wrap:after {
  height: 47px; 
}

.carson_menu {
	text-align: center;
}

#title {
	margin: auto;
	font-size: 2em;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 16px;
	border-radius: 8px;
}

#subtitle {
	font-size: .5em;
}

.postheader {
	text-align: center;
}