body {
	background-image: url("/img/p6.png");
	background-repeat: repeat;
    background-attachment: fixed;
	height: 100%;
}

#fullscreenheader {
	position:absolute; width: 100%; height: 100%; display:flex; align-items: center; justify-content: space-between; font-size: 4em
}

#menu {
	text-align: center;
}

#title {
	margin: auto;
	font-size: 2em;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 16px;
	border-radius: 8px;
}

#subtitle {
	font-size: .5em;
}

.postheader {
	text-align: center;
}